body {
    background: url('../images/darkbg.jpg') repeat center center fixed;
}

.jumbotron {
    padding-top: 50px;
    margin-top: 75px;
    /* This is for ie8 and below */
    background: rgba(0, 0, 0, 0.2);
    posistion: relative;
    z-index: 2;
    box-shadow: 0 8px 16px -6px black;
}

#home {
    margin-bottom: 450px;
}

#slideshow {
    padding-top: 75px;
    margin-top: 200px;
    padding-bottom: 75px;
}

.navbar-collapse {
    margin-bottom: 50px, color="white";
}

.intro-header {
    background: url('../images/ny.jpg') center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 30%;
    width: 100%;
}

.container .jumbotron {
    border-radius: 0px;
}